body {
    margin: 0;
    background-color: #000;
    color: #00ff00;
    font-family: monospace;
}

#terminal {
    padding: 20px;
}

#terminal-content p {
    white-space: pre-line;
    margin: 0;
    line-height: 1.5;
}

.input-line {
    display: flex;
    align-items: center;
}

.prompt {
    margin-right: 8px;
}

input {
    background: none;
    border: none;
    color: #00ff00;
    font-family: monospace;
    font-size: 16px;
    outline: none;
    width: 100%;
}

.command {
    color: #00ffaa;
}

.command-help {
    color: #00ffaa;
}

input::after {
    content: "|";
    animation: blink 1s infinite;
}

@keyframes blink {
    0%, 50%, 100% { opacity: 1; }
    25%, 75% { opacity: 0; }
}


